[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/osuny-suggestions"]
	path = themes/osuny-suggestions
	url = git@github.com:osunyorg/osuny-suggestions.git
