[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/osuny-suggestions"]
	path = themes/osuny-suggestions
	url = https://github.com/osuny-suggestions.git
[submodule "themes/osuny-campus-art-mediterrannee-footer"]
	path = themes/osuny-campus-art-mediterrannee-footer
	url = https://github.com/osuny-campus-art-mediterrannee-footer.git
