$parabole: "Parabole", "Helvetica", "Arial", sans-serif
$suisse-intl: "SuisseIntl", "Helvetica", "Arial", sans-serif

$body-font-family: $suisse-intl
$heading-font-family: $suisse-intl

// Specifics
$color-text-light: #FFFFFF
$btn-box-shadow: #00000033 0px 0px 4px


// Colors
$color-background: #FFFFFF
$color-accent: var(--season-start-color)

// TYPOGRAPHY
$h1-weight: normal
$h1-font-family: $parabole
$h1-size-desktop: pxToRem(100)

$h2-size-desktop: pxToRem(50)
$h3-size-desktop: pxToRem(25)
$h2-letter-spacing: -0.03em

$h3-weight: normal

$h5-text-transform: normal

$body-font-size-desktop: pxToRem(25)
$meta-font-family: $body-font-family
$meta-size-desktop: pxToRem(18)

$signature-font-family: $body-font-family

// HEADER
$header-logo-height-desktop: auto
$header-border-bottom-width: 0
$header-sticky-background: season-gradient()
$header-sticky-dropdown-background: var(--season-end-color)
$header-upper-menu-background: transparent
$header-upper-menu-sticky-background: transparent
$header-dropdown-full: true
$search-button-header-icon: false
$search-button-header-text: true

// FOOTER
$footer-background-color: transparent

// HERO
$hero-background-color: $color-background
$hero-height: 0
$hero-height-desktop: 0

// BTN

// $btn-font-family: $heading-font-family !default
// $btn-font-size: $meta-size !default
// $btn-font-size-desktop: $meta-size-desktop !default
// $btn-font-style: normal !default
// $btn-font-weight: normal !default
// $btn-line-height: $body-line-height !default
// $btn-text-transform: none !default
// $btn-color: var(--color-text) !default
$btn-hover-color: var(--color-text)
$btn-background: var(--color-background)
$btn-hover-background: var(--color-background-alt)
$btn-border-width: 0
// $btn-border: $btn-border-width solid var(--color-border) !default
// $btn-hover-border: $btn-border !default
// $btn-border-desktop: $btn-border !default
$btn-border-radius: pxToRem(3)

$btn-padding: pxToRem(7) pxToRem(15)
$btn-padding-desktop: pxToRem(7) pxToRem(15)
$btn-padding-small: pxToRem(6) pxToRem(10)
$btn-padding-small-desktop: pxToRem(5) pxToRem(10)
$btn-min-width: 0
$btn-min-width-desktop: 0
// $btn-disabled-color: var(--color-text-alt) !default
// $btn-disabled-background: var(--color-background-alt) !default
// $btn-disabled-border: $btn-disabled-background !default

// BLOCKS
$block-call-to-action-accent-background: transparent
$block-call-to-action-accent-color: var(--color-text)
$block-call-to-action-accent-button-hover-color: var(--color-text)
$block-call-to-action-accent-button-hover-background: var(--season-start-color)

$block-chapter-layout-accent-color: var(--color-text)

$footer-text-hidden: true