$heading-font-family: "Parabole", "Helvetica", "Arial", sans-serif
$body-font-family: "SuisseIntl", "Helvetica", "Arial", sans-serif

$color-text-light: #FFFFFF

// TYPOGRAPHY
$h1-weight: normal

$meta-font-family: $body-font-family
$meta-font-size-desktop: pxToRem(18)

$signature-font-family: $body-font-family

// HEADER
$header-logo-height-desktop: auto
$header-border-bottom-width: 0
$header-sticky-background: linear-gradient(180deg, #FF8000 0%, #FFCE39 100%)
$header-sticky-dropdown-background: #FFCE39
$header-upper-menu-background: transparent
$header-upper-menu-sticky-background: transparent
$header-dropdown-full: true
$search-button-header-icon: false
$search-button-header-text: true

// FOOTER
$footer-background-color: none
