.block-call_to_action
    --cta-background-color: transparent
    background: season-gradient(90deg, 60%)
    transition: background 0.3s
    // @include in-page-with-or-without-sidebar
    .call_to_action
        .top
            .block-title
                @include h2
        .description
            p
                @include h3

// .block-call_to_action .top .block-title
//     @include h2
//     display: none