.breadcrumb
    padding-top: $spacing-2
    li
        &:not(:first-child)
            &::before
                @include icon-site('arrow')
                font-size: 0.415em
                vertical-align: middle