footer#document-footer
    background: linear-gradient(0deg, var(--season-start-color) 0%, var(--season-end-color) 50%, var(--color-background) 100%)
    transition: background 0.3s
    .footer-logo
        @include meta
    .footer-site
        text-align: left
        [itemprop="name"]
            display: none
        address
            @include body-text
            margin-bottom: $spacing-3
            margin-top: $spacing-3
    .nav-legal
        --meta-size: #{min-font-size(14)}
        a
            @include meta
    .footer-campus
        padding-right: columns(2)
        a[target="_blank"]
            &::before
                display: none
        .rich-text
            @include meta
            margin-top: $spacing-4
            a
                @include icon(arrow-right-line, after, true)
                    font-size: $body-size
                display: block
    .footer-attached-sites
        h3, address, [itemprop="telephone"]
            @include meta
        h3, [itemprop="telephone"]
            margin-bottom: $spacing-3
            display: block
    .footer-social
        display: flex
        align-items: baseline
        li.facebook::after
            content: url("/assets/images/icons/facebook.svg")
        li.instagram::after
            content: url("/assets/images/icons/instagram.svg")
    .footer-primary-menu
        a
            &::before
                display: none !important
    @include media-breakpoint-up(desktop)
        padding-top: pxToRem(250)
        .container
            justify-content: start
            gap: var(--grid-gutter)
        .site, .footer-attached-sites
            flex-shrink: 0
            width: columns(2)
        .footer-secondary-menu,
        .footer-social,
        .nav-legal
            li, .nav-legal, .footer-credit
                display: inline
        .footer-primary-menu
            text-align: right
            margin-top: $spacing-4
            li + li 
                margin-top: $spacing-2
        .footer__secondary
            display: flex
            justify-content: space-between
            align-items: baseline !important
            flex-wrap: wrap
            column-gap: $spacing-3
        .footer-secondary-menu
            @include meta
            ul
                display: flex
                align-items: baseline
                gap: space(10)
        .nav-legal
            display: flex
            align-items: baseline
            gap: space(10)
            margin-left: auto
        .footer-campus
            > h3
                display: none
        @include media-breakpoint-down(xl)
            .nav-legal
                margin-left: unset
                order: 3
    @include media-breakpoint-down(desktop)
        .footer-logo
            a
                @include h4
        .site
            > * + *
                margin-top: $spacing-1
        .footer-primary-menu
            span, a, button
                @include h3
        .container
            + .container
                margin-top: $spacing-3
            .nav-legal
                margin-top: $spacing-3
            .footer-social
                margin-top: 0
        .footer-campus
            margin-top: 0
        .footer-attached-sites,
        .footer-campus
            padding-right: 0
            > h3
                @include h4
                @include icon(arrow-down-line, after)
                display: flex
                justify-content: space-between
                border-bottom: 1px solid var(--color-border)
                padding-bottom: $spacing-2
                + .extendable
                    display: none
                    li
                        display: inline
                        padding-left: 0
                        white-space: initial
                        > a, > span
                            display: inline-block
                // When expanded
                &[aria-expanded="true"]
                    @include icon(arrow-up-line, after)
                    + .extendable
                        display: block
            .extendable
                margin-top: $spacing-3