header#document-header
    background: season-gradient()
    transition: background 0.3s

    .menu
        .nav-level-1
            > li, .search-button
                > a, > span
                    font-size: var(--h3-size)
            > li:nth-last-child(2)
                > a
                    @extend .button
                    @extend .button--small
                    font-size: var(--h3-size)
                    display: inline
    @include media-breakpoint-up(desktop)
        > .container
            display: flex
            gap: var(--grid-gutter)
            padding-top: $spacing-3
            padding-bottom: $spacing-3
            .logo
                width: columns(2)
                padding-top: pxToRem(8)
            .menus
                width: columns(10)
                display: flex
                flex-direction: column
                justify-content: space-between
                &__secondary
                    flex: 1
                    display: flex
                    justify-content: space-between
                .tagline
                    @include h3
                    width: columns(5)
                    span
                        display: block
                nav.upper-menu
                    position: relative
                    width: columns(5)
                    transition: 0
                    background: transparent
                    ul
                        justify-content: end
                        gap: $spacing-3
                        a, span
                            @include meta
                            padding-top: 0 !important
                nav.primary-menu
                    width: columns(10)
                    padding-bottom: 0
                    .nav-search
                        margin-left: auto
                    .nav-level-1
                        margin-bottom: -1rem
                        > li:first-child
                            a
                                padding-left: 0
                        > li:nth-last-child(2)
                            margin-left: $spacing-2
