header#document-header
    background: season-gradient()
    .menu
        .nav-level-1
            > li, .search-button
                > a, > span
                    font-size: var(--h5-size)
            > li:nth-last-child(2)
                > a
                    @extend .button
                    @extend .button--small
                    font-size: var(--h5-size)
                    display: inline
        a, span
            &[aria-expanded]
                @include icon(arrow-down-line, after)
                    font-size: pxToRem(25) !important
    .tagline
        a
            text-decoration: none !important
    @include media-breakpoint-down(desktop)
        padding-bottom: var(--grid-gutter)
        padding-top: var(--grid-gutter)
        > .container
            display: flex
            align-items: start
            position: relative
            .tagline
                width: 10ch
                word-break: break-word
                line-height: pxToRem(19)
                margin-left: pxToRem(82)
                span
                    font-size: pxToRem(17)
                span:nth-child(2)
                    display: none
            .menus
                position: relative
                flex: 1
            .logo
                padding-top: pxToRem(3)
                position: absolute
                z-index: 2
                img
                    height: pxToRem(70)
            .primary-menu
                padding-top: 0
                padding-bottom: 0
                .header-button
                    position: absolute
                    right: var(--grid-gutter)
                    right: 0
                    top: 0
                    margin-top: $icon-burger-margin-right
                    span:first-of-type
                        text-transform: none
            .menu
                border-bottom: none
                .nav-level-1
                    > li
                        &:nth-last-child(2) > a
                            display: block
                            margin-bottom: pxToRem(17)
                            margin-top: pxToRem(17)
        .has-menu-opened &
            height: rvh(100)
        &.has-upper-menu
            display: flex
            flex-direction: column
            gap: $spacing-2
            justify-content: space-between
            .menu
                padding-top: 0
                margin-top: 0
                border-bottom: var(--border-width) solid $color-border
            .upper-menu
                position: relative
                // bottom: 0
                // right: 0
                // left: 0
                top: auto
                padding-left: var(--grid-gutter)
                padding-right: var(--grid-gutter)
                .nav-level-1
                    @include body-text
                    flex-direction: column
                    height: auto
                    padding-bottom: $spacing-2
                    gap: 0
                    li
                        padding-bottom: $spacing-2
                        padding-top: $spacing-2
                        border-top: var(--border-width) solid $color-border

    @include media-breakpoint-up(desktop)
        > .container
            display: flex
            gap: var(--grid-gutter)
            padding-top: $spacing-4
            padding-bottom: $spacing-4
            .logo
                width: columns(2.5)
                padding-top: pxToRem(8)
            .menus
                width: columns(10)
                display: flex
                flex-direction: column
                justify-content: space-between
                &__secondary
                    flex: 1
                    display: flex
                    justify-content: space-between
                .tagline
                    @include h5
                    width: columns(5)
                    span
                        display: block
                nav.upper-menu
                    position: relative
                    width: columns(5)
                    transition: 0
                    background: transparent
                    ul
                        justify-content: end
                        gap: $spacing-3
                        a, span
                            @include meta
                            padding-top: 0 !important
                nav.primary-menu
                    width: columns(10)
                    padding-bottom: 0
                    .nav-search
                        margin-left: auto
                    .nav-level-1
                        margin-bottom: -1rem
                        > li:first-child
                            a
                                padding-left: 0
                        > li:nth-last-child(2)
                            margin-left: $spacing-2
        // &:not(.is-sticky)
        //     position: absolute
        &.is-sticky
            > .container
                background: url(/assets/images/icons/logo-c.svg) no-repeat top left, url(/assets/images/icons/logo-p.svg) no-repeat top right, url(/assets/images/icons/logo-b.svg) no-repeat bottom left, url(/assets/images/icons/logo-m.svg) no-repeat bottom right
                background-size: pxToRem(36)
                padding-bottom: space(3)
                padding-top: space(3)
                .menus
                    width: auto
                    align-items: center
                    flex: 1
                    flex-direction: row
                    gap: var(--grid-gutter)
                    .menus__secondary
                        flex-grow: 0
                .logo, .upper-menu
                    display: none
                .tagline
                    width: columns(2)
                    line-height: pxToRem(23)
                    span:nth-child(2)
                        display: none
                nav.primary-menu
                    width: auto
                    padding-top: 0
                    flex-grow: 1
                    .nav-level-1
                        margin-bottom: 0