.hero
    .content
        .hero-text
            body:not(.events__page) &
                margin-top: 0
    a[download]
        white-space: nowrap
        &::after
            @include icon-site('download', true)
            padding-left: pxToRem(10)
