.toc-content
    .toc-pages
        li
            .active
                color: $color-text
                &::after
                    color: var(--color-accent)
                    content: "■"
                    display: inline-block
                    margin-left: 5px

body.offcanvas-toc
    .toc-container
        .toc-title, button
            line-height: $spacing-5