a,
.link
    &[target="_blank"]:not(.icon)
        &:after
            display: none
        &::before
            content: url("/assets/icons/external-arrow.svg")
            display: inline-block
            vertical-align: middle

h3, .h3
    letter-spacing: -3%