html
    @include media-breakpoint-up(desktop)
        font-size: Min(Max(1.05vw, 13px), 16px)

a,
.link
    &[target="_blank"]:not(.icon, [download]),
        &:not([href^="/"])
            &::after
                display: none
            &::before
                @include icon-site('external-arrow')
                font-size: 0.9em
                line-height: 1
                padding-right: space(2)

.button
    box-shadow: $btn-box-shadow

