html
    @include media-breakpoint-up(desktop)
        font-size: Min(Max(1.1vw, 13px), 16px)

a,
.link
    &[target="_blank"]:not(.icon),
        &:not([href^="/"])
            &::after
                display: none
            &::before
                content: url("/assets/images/icons/external-arrow.svg")
                display: inline-block
                vertical-align: middle

h3, .h3
    letter-spacing: -3%

.button
    box-shadow: $btn-box-shadow

