@mixin absolute-cover
    bottom: 0
    height: 100%
    left: 0
    position: absolute
    right: 0
    top: 0

@mixin cover-gradient
    &::after
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 68.96%, rgba(0, 0, 0, 0.8) 100%)
        bottom: 0
        content: ''
        left: 0
        position: absolute
        right: 0
        top: 0
        z-index: 1

@function season-gradient($degree: 180deg, $start: var(--season-start-position), $end: var(--season-end-position))
    @return linear-gradient(#{$degree}, var(--season-start-color) $start, var(--season-end-color) $end)

@function min-font-size($size)
    @return Max(#{pxToRem($size)}, 12px)

@mixin vertical-figcaption
    display: flex
    align-items: end
    gap: $spacing-1
    margin-right: 0
    figcaption
        writing-mode: sideways-lr
        text-orientation: mixed
        max-height: $block-gallery-carousel-height-desktop
        margin-top: 0
        &::before
            content: '↑ '
        > * 
            display: inline
        p
            display: inline
            margin-left: 0
            margin-right: 0

@mixin button-dropdown
    --dropdown-background: var(--color-background)
    &[aria-expanded="true"]
        border-top-left-radius: $btn-border-radius
        border-top-right-radius: $btn-border-radius
        box-shadow: $btn-box-shadow
        position: relative
        z-index:  $zindex-dropdown + 1
        &::before
            content: ''
            position: absolute
            height: 10px
            bottom: -6px
            left: 0px
            right: 0px
            background: var(--color-background)
            display: block
    + .extendable
        border-top: 1px solid transparent
        background: var(--color-background)
        box-shadow: $btn-box-shadow