.events
    &--agenda
        --border-width: 0
        .events-date-title, .event-title
            &, &.is-down
                @include h2
                color: var(--color-text)
        .event-subtitle
            color: var(--color-text)
        .event-hours
            @include h5
        .event:not(.event--child)
            .event-hours
                time:first-child
                    @include h2
        .events-date-title
            i
                display: block
                font-style: normal
        @include media-breakpoint-up(desktop)
            .events-date-title
                max-width: offset(3)

    &--list
        .event
            border: none !important
            padding-bottom: 0
            margin-bottom: space(16)
            &-title
                @include h2
            &-parent
                @include body-text
                margin-bottom: $spacing-2
            .event-subtitle
                margin-top: $spacing-2
            .event-schedule p
                @include h5
            .media
                order: -1
                img
                    aspect-ratio: 1
                @include media-breakpoint-down(desktop)
                    max-width: 100%
                @include media-breakpoint-up(desktop)
                    width: columns(4)
            @include media-breakpoint-up(desktop)
                .event-categories
                    margin-top: space(8)
            @include in-page-without-sidebar
                position: relative
                .event-content
                    flex: 1
                    display: flex
                    flex-direction: column
                    max-width: columns(8)
                    margin-left: auto
                .event-schedule
                    position: absolute
                    left: 0
                .media
                    margin-left: offset(4)
                    width: columns(4)

// commons
.event 
    &-title
        @include h2
    .media img
        aspect-ratio: 1
        object-fit: cover
    [class$="-content"]
        display: flex
        flex-direction: column
        .event-subtitle
            @include h5
            color: var(--color-text)
        .event-categories
            margin-top: $spacing-3 !important
            order: 2
            li:not(:last-child) a::after
                content: none
        .more
            @include body-text
            text-decoration: underline
            @include icon(arrow-right-line, after, true)
                display: inline-block
                transition: transform 0.3s ease
    &:hover .more::after
        transform: translateX($spacing-1)

.block-agenda--list
    @include in-page-without-sidebar
        .top
            display: flex
            gap: var(--grid-gutter)
            .block-title
                a
                    &::after
                        opacity: 0
                    &:hover::after
                        opacity: 1
            .description
                margin-top: 0

.events__page
    .hero
        .content
            h1 > span
                @include h2
                color: var(--color-text)
                margin-top: $spacing-2
            .hero-text
                justify-content: start
            .taxonomies-single
                margin-top: $spacing-2
            figure
                &.image-portrait
                    order: unset
                @include media-breakpoint-down(desktop)
                    img
                        aspect-ratio: 1
                        object-fit: cover
        // .dropdown-share
        //     button
        //         border-radius: $btn-border-radius
        //         box-shadow: $btn-box-shadow
        .taxonomies-single a
            @include body-text
            text-decoration: none
            font-size: var(--meta-size)
            color: var(--color-text)
    a.programme-btn
        @extend .button
    .event-access
        .event-practicals,
        .event-slots
            align-items: baseline
            h2
                @include h2
                color: var(--color-text)
        > div:first-child,
        > div:last-child
            border: none
        .event-summary,
        .event-time-slot
            .dropdown-calendar
                background-color: var(--color-background)
                button
                    @extend .button
                    @extend .button--small
                    // border-radius: $btn-border-radius
                    // box-shadow: $btn-box-shadow
                    // color: var(--color-text)
                    // padding: space(2) space(4)
                    // text-decoration: none
                    // @include media-breakpoint-up(desktop)
                    //     padding: space(2) space(4) space()
        @include media-breakpoint-up(desktop)
            .event-slots 
                display: flex
                gap: var(--grid-gutter)
                .events-slots-title
                    width: columns(4)
                ul
                    width: columns(8)
                    .date
                        width: auto