.events
    &--agenda
        --border-width: 0
        .events-date-title, .event-title
            &, &.is-down
                @include h2
                color: var(--color-text)
        .event-subtitle
            color: var(--color-text)
            margin-top: $spacing-1
        .event-hours
            @include h5
            span
                @include h2
        .event
            .event-hours
                time:first-child
                    @include h2
                    + time
                        @include body-text
        .events-date-title
            i
                display: block
                font-style: normal
        @include media-breakpoint-up(desktop)
            .event
                padding-left: offset(4)
                .events-date-title
                    &, &.is-down
                        max-width: offset(3)
                .media
                    width: columns(4)
                &.event--child
                    padding-left: columns(2)
                    margin-left: offset(4)
                    .media
                        width: offset(2)
                    &:not(.event--with-image)
                        // padding-left: offset(2)
                        .event-content
                            margin-left: 0
    &--list
        .event
            border: none !important
            padding-bottom: 0
            margin-bottom: space(16)
            &-title
                @include h2
            &-parent
                @include body-text
                margin-bottom: $spacing-2
            .event-subtitle
                margin-top: $spacing-2
            .event-schedule p
                @include h5
            .media
                order: -1
                img
                    aspect-ratio: 1
                @include media-breakpoint-down(desktop)
                    max-width: 100%
                @include media-breakpoint-up(desktop)
                    width: columns(4)
            @include media-breakpoint-up(desktop)
                .event-categories
                    margin-top: space(8)
            @include in-page-without-sidebar
                position: relative
                .event-content
                    flex: 1
                    display: flex
                    flex-direction: column
                    max-width: columns(8)
                    margin-left: auto
                .event-schedule
                    position: absolute
                    left: 0
                .media
                    margin-left: offset(4)
                    width: columns(4)

// commons
.event 
    &-title
        @include h2
    .media img
        aspect-ratio: 1
        object-fit: cover
    [class$="-content"]
        display: flex
        flex-direction: column
        .event-subtitle
            @include h5
            color: var(--color-text)
        .event-categories
            margin-top: $spacing-3 !important
            order: 2
            li:not(:last-child) a::after
                content: none
        .more
            @include body-text
            text-decoration: underline
            @include icon(arrow-right-line, after, true)
                display: inline-block
                transition: transform 0.3s ease
    &:hover .more::after
        transform: translateX($spacing-1)

.block-agenda--list
    @include in-page-without-sidebar
        .top
            display: flex
            gap: var(--grid-gutter)
            .block-title
                a
                    &::after
                        opacity: 0
                    &:hover::after
                        opacity: 1
            .description
                margin-top: 0

.events__page
    .hero
        .content
            h1 > span
                @include h2
                color: var(--color-text)
                margin-top: $spacing-2
            .hero-text
                justify-content: start
            .taxonomies-single
                margin-top: $spacing-2
            figure
                &.image-portrait
                    order: unset
                @include media-breakpoint-down(desktop)
                    img
                        aspect-ratio: 1
                        object-fit: cover

    a.programme-btn
        @extend .button
        background: var(--btn-background-color)
        color: var(--color-text)

    .event-access
        .event-practicals,
        .event-slots
            align-items: baseline
            h2
                @include h2
                color: var(--color-text)
        > div:first-child,
        > div:last-child
            border: none
        .event-summary,
        .event-time-slot
            .dropdown-calendar
                background-color: var(--color-background)
                button
                    @extend .button
                    @extend .button--small
        @include media-breakpoint-up(desktop)
            .event-slots 
                display: flex
                gap: var(--grid-gutter)
                .events-slots-title
                    width: columns(4)
                > ul
                    width: columns(8)
                    .date
                        width: auto
                .dropdown-menu
                    min-width: pxToRem(200)
                    left: auto !important
                    right: pxToRem(-14) !important
    .event-programme
        .events--agenda
            @include media-breakpoint-up(desktop)
                .event
                    margin-left: 0
                    .events-date-title
                        &, &.is-down
                            max-width: offset(3)
                    .media
                        width: columns(4)
                    &.event--child
                        padding-left: offset(3)

.calendar-month
    caption
        h2
            a
                @include h3
                color: var(--color-text) !important
    a
        --btn-background: var(--color-text)
        --btn-hover-background: var(--color-accent)
        --btn-color: var(--color-background)

.agenda-filters
    .dropdown
        > button
            @include button-dropdown
    .calendar-month
        h2
            a
                @include h5
    @include media-breakpoint-down(desktop)
        --color-background-alt: var(--color-background)
        .offcanvas-content
            .dropdown
                > button, .extendable
                    background: none
                    // padding: 0
                    box-shadow: none
                    &::before
                        display: none
                .extendable
                    ul
                        padding-left: $spacing-2
    @include media-breakpoint-up(desktop)
        .dates-filters
            .slider
                .slider-arrows
                    .slider-arrow
                        top: 0


// Federation
.event
    &.is-federated
        background: $color-campus

.events--agenda
    .event.is-federated
        margin-left: var(--grid-gutter-negative)
        margin-right: var(--grid-gutter-negative)
        border-left: var(--grid-gutter) solid transparent
        border-right: var(--grid-gutter) solid transparent
        // .event-hours
        //     position: relative
        //     margin-top: 0
        //     span
        //         position: relative
        //         top: auto !important
        .event-federation
            background: var(--color-background)
            align-self: start
            padding: space(1) space(2)
            margin-bottom: $spacing-2
        @include media-breakpoint-down(desktop)
            padding-bottom: var(--grid-gutter)
        @include media-breakpoint-up(desktop)
            padding-top: 0 !important
            .event-content
                padding-top: $spacing-3
                padding-bottom: $spacing-3
            // .event-federation
            //     position: absolute
            //     left: 0
            //     padding-left: $spacing-3
            //     max-width: columns(3)