.category-item
    .media
        .is-svg
            img
                width: auto

.categories
    @include in-page-without-sidebar
        &--grid
            @include grid(2)


%categorie-tag
    @extend .button
    @extend .button--small
    text-decoration: none !important
    color: var(--color-text) !important

.post-categories
    li
        a
            @extend %categorie-tag