.category-item
    .media
        .is-svg
            img
                width: auto

.categories
    @include in-page-without-sidebar
        &--grid
            @include grid(2)
    .rich-text
        margin-top: space(7) !important


%categorie-tag
    @extend .button
    @extend .button--small
    text-decoration: none !important
    color: var(--color-text) !important

.post-categories
    li
        a
            @extend %categorie-tag

// page with instrument's illustrations
.page-categories_with_illustrations
    .categories--grid
        .media img
            object-position: left