.reading-time
    display: none !important

.event-categories
    row-gap: $spacing-3
    li
        a
            @include body-text
            border-radius: $btn-border-radius
            box-shadow: $btn-box-shadow
            text-decoration: none
            padding: space() space(4)