.page__home
    // HERO
    .hero
        --color-text: #{$color-text-light}
        padding-bottom: 0
        > .container
            align-items: end
            display: flex
            height: 60vh
            max-height: calc(95vh - var(--header-height))
            padding-bottom: 0
            position: relative
        .hero-text
            position: relative
            z-index: 2
            padding-bottom: $spacing-4
        figure
            @include absolute-cover
            @include cover-gradient
            z-index: 0
            picture
                @include absolute-cover
                img
                    height: 100%
                    object-fit: cover
    @include media-breakpoint-down(desktop)
        .hero
            .hero-text
                margin-bottom: 0
                padding-bottom: $spacing-3
                h1
                    font-size: pxToRem(25)
            figure
                margin-left: 0
                margin-right: 0
    @include media-breakpoint-up(desktop)
        .hero
            > .container
                align-items: end
                display: flex
                height: 48vw
                max-height: calc(95vh - var(--header-height))
                padding-bottom: 0
                position: relative
            figure
                left: 50%
                transform: translateX(-50%)
                width: 100vw
                right: auto
    // BLOCKS
    .blocks
        .block
            .block-title
                @include h2
        @include media-breakpoint-up(desktop)
            .block-chapter
                .chapter
                    .text
                        width: columns(10)
                &.block-class-title-on-left
                    .block-content
                        .chapter
                            display: block
                        .text
                            display: flex
                            gap: var(--grid-gutter)
                            .top
                                width: columns(4)
                                flex-shrink: 0
                            .rich-text
                                width: columns(6)
                                flex-shrink: 0
                                > p:first-child > b
                                    @include h2
            .block-categories
                .block-content
                    .top
                        @include top-flex
                    .categories
                        padding-left: offset(4)
                        position: relative
                    // .media
                    //     width: 100%
                    // .categories--grid
                    //     @include grid(3)