.page__home
    @include media-breakpoint-up(desktop)
        .hero
            --color-text: #{$color-text-light}
            padding-bottom: 0
            > .container
                align-items: end
                display: flex
                height: 48vw
                max-height: calc(95vh - var(--header-height))
                padding-bottom: 0
                position: relative
            .hero-text
                position: relative
                z-index: 2
            figure
                @include absolute-cover
                @include cover-gradient
                left: 50%
                transform: translateX(-50%)
                width: 100vw
                z-index: 0
                picture
                    @include absolute-cover
                    img
                        height: 100%
                        object-fit: cover
