.posts__page
    .hero
        .content
            padding-top: $spacing-3
        .hero-text
            display: flex
            flex-direction: column
            margin-top: 0
            > time
                order: -1
                margin-bottom: $spacing-3
        h1 > span
            @include h2
            color: var(--color-text)
    @include media-breakpoint-up(desktop)
        .hero
            .content
                figure
                    width: columns(4)
                    order: -1

.post
    .post-subtitle
        @include body-text
        color: var(--color-text)
    .post-meta
        color: var(--color-text)


.posts__section,
.posts_categories__term,
.persons__page,
.administrators__term,
.authors__term,
.researchers__term,
.teachers__term
    .posts--list
        article
            border-bottom: 0
            @include media-breakpoint-up(desktop)
                .post-content
                    grid-column: 5 / 13
                .media
                    grid-column: 1 / 5
                

