.posts__page
    .hero
        .content
            padding-top: $spacing-3
        .hero-text
            display: flex
            flex-direction: column
            margin-top: 0
            > time
                order: -1
                margin-bottom: $spacing-3
        h1 > span
            @include h2
            color: var(--color-text)
    @include media-breakpoint-up(desktop)
        .hero
            .content
                figure
                    width: columns(4)
                    order: -1
