<div class="container footer__primary">
  <div class="site">
    <div class="footer-logo">
      <a href="{{ site.Home.Permalink }}" title="{{ i18n "commons.index" (dict "Title" site.Title )}}">
        {{ site.Title }}
      </a>
    </div>
    <div class="footer-site">
      {{ partial "footer/site.html" }}
      <p>{{ i18n "cam.footer.site.infos" }}</p>
    </div>
  </div>
  <div class="footer-attached-sites">
    {{ partial "footer/attached-sites.html" . }}
  </div>
  <div class="footer-campus">
    {{ partial "footer/campus-art-mediterranee.html" . }}
  </div>
  <div class="footer-primary-menu">
    {{ partial "commons/menu.html" (dict "kind" "footer-primary" ) }}
  </div>
</div>

<div class="container footer__secondary">
  <div class="footer-secondary-menu">
    {{ partial "commons/menu.html" (dict "kind" "footer-secondary" ) }}
  </div>
  {{ partial "footer/legals.html" . }}
  {{ if and site.Params.search.active (in site.Params.search.positions "footer") }}
    <div class="footer-search">
      {{ partial "commons/search/button.html" "footer" }}
    </div>
  {{ end }}
  <div class="footer-social">
    {{ partial "footer/social.html" . }}
  </div>
</div>

{{ partial "osuny-campus-supports.html" . }}
